.row {
  display: flex;
}

.column {
  flex: 50%;
}

.AUContainer {
  padding-left: 100px;
  padding-top: 50px;
  padding-right: 100px;
}

h1 {
  font-family: "Patua One";
  font-size: 40px;
  line-height: 100px;
}

h2 {
  font-family: "Lato";
  font-size: 26px;
  font-weight: bold;
  line-height: 100px;
}

h3 {
  font-family: "Lato";
  font-size: 21px;
}

body {
  font-family: "Lato";
  font-size: 16px;
}
