.navLink {
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  color: black;
  font-family: "Lato";
}

/* .navButton {
    color: #FFD700;
    text-transform: none;
    font-size: 20px;
    font-family: 'Patua One';

} */

.navTitle {
  text-decoration: none;
  text-transform: none;
  font-size: 24px;
  color: #337def;
  font-family: "Patua One";
}

.navTitle2 {
  text-decoration: none;
  text-transform: none;
  font-size: 24px;
  color: #f3c950;
  font-family: "Patua One";
}
