.navLink {
    text-decoration: none;
    text-transform: none;
    font-size: 16px;
    color: black;
    font-family: 'Patua One';
}

/* .navButton {
    color: #FFD700;
    text-transform: none;
    font-size: 20px;
    font-family: 'Patua One';

} */

.navTitle {
    text-decoration: none;
    text-transform: none;
    font-size: 24px;
    color: #337DEF;
    font-family: 'Patua One';
}