.RequestForm {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 8px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}