.Container{
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
}

.RequestCard{
    position: relative;
    background: rgb(168, 227, 247);
    width: 20%;
    float: left;
    border-radius: 10%;
    padding: 10px;
    height: 80%;
    float: top;
}

.StatusContainer{
    position: relative;
    height: 20%;
    float: bottom;
    background: white;
}

.CardTitle{
    color: blue;
    font-size: 20px;
}
